<div *ngIf="!ticket">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="ticket">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ ticket.subject }}</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p><b>Description:</b><br>{{ticket.description}}</p>
          <p><b>Contact name:</b><br>{{ticket.contact['name']}}</p> 
          <p><b>Phone number:</b><br>{{ticket.contact['phoneNumber']}}</p> 
          <p><b>Preferred contact method:</b><br>{{ticket.contact['contactMethodPreference']}}</p>
          <p><b>Company:</b><br>{{ticket.contact['organisation']}}</p>
          <p><b>Impact:</b><br>{{ticket.impact}}</p>
          <p><b>Priority:</b><br>{{ticket.priority}}</p>
          <p><b>Team:</b><br>{{ticket.team}}</p>
          <p><b>Member:</b><br>{{ticket.leadTech}}</p>
        </mat-card-content>
      </mat-card>
</div>
