<mat-sidenav-container class="app-sidenav-container">
    <!--this is the sidebar-->
    <mat-sidenav #sidenav class="app-sidenav" opened="true" mode="over">
        <!--ribbon at the top of the sidenav-->
        <mat-toolbar color="primary">
            Ticket Manager    
        </mat-toolbar>

        
        <mat-list>
            <mat-list-item>
                <mat-icon>home</mat-icon>
                <span class="aligned-with-icon">Home</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>add_circle</mat-icon>
                <span class="aligned-with-icon">Add</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>analytics</mat-icon>
                <span class="aligned-with-icon">Reports</span>
            </mat-list-item>
            <mat-list-item>
                
                <mat-icon>search</mat-icon>
                <span class="aligned-with-icon">Search</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>build</mat-icon>
                <span class="aligned-with-icon">Admin</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>settings</mat-icon>
                <span class="aligned-with-icon">Settings</span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <!--this is the main section-->
    <mat-sidenav-content class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
