.form-container {
    display: flex;
    flex: 1;
    width: 55%;
  }

  .full-width {
    width: 100%;
  }

  .half-width {
    width: 47%;
    margin-right: 15px;
  }

  .input {
    padding: 10px, 10px;
  }

 .contact{
  column-gap: 5px;
 }