<mat-card>
    <mat-card-header>
        <h1>Tickets assigned to you</h1>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="Ticket">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.id}}</p>
                    </div>
                </th>
            </ng-container>

            <ng-container matColumnDef="Logged">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Logged </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.loggedDate | date: 'dd-MM-yyyy'}}</p>
                    </div>
                    
                </th>
            </ng-container>

            <ng-container matColumnDef="Subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.subject}}</p>
                    </div>
                </th>
            </ng-container>

            <ng-container matColumnDef="Contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.contact.name}}</p>
                    </div>
                </th>
            </ng-container>

            <ng-container matColumnDef="AssetNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.assetNumber}}</p>
                    </div>  
                </th>
            </ng-container>

            <ng-container matColumnDef="Base">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Base </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.contact.address}}</p>
                    </div> 
                </th>
            </ng-container>

            <ng-container matColumnDef="leadTech">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> lead Tech </th>
                <th mat-header-cell *matCellDef="let filteredTickets">
                    <div [routerLink]="['../ticket', filteredTickets.id]">
                        <p>{{filteredTickets.leadTech}}</p> 
                    </div>
                </th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  

        <mat-paginator [pageSize]="20"
                       [pageSizeOptions]="[20, 30, 50]"
                       showFirstLastButtons
                       aria-label="Select page of tickets">
        </mat-paginator>                                                                                                                                                          
    </mat-card-content>
    <button id="list" (click)="list()">List</button>
</mat-card>
